.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.containerr {
    max-width: 400px;
    border-radius: 20px;
}

.carde {
    border-radius: 20px;
    background-image: linear-gradient(to right, #0084ff, #00f2ff);
    overflow: hidden;
    margin-left: -160px;
    width: 1030px;
    border: none;
    box-shadow: 0 5px 8px rgb(92, 80, 80);
    z-index: 0;
    box-sizing: border-box;
    margin-top: 70px;

}

.myHead {
    margin-top: -5px;
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: 700px;
    background: linear-gradient(to right, #0084ff, #00f2ff);
    color: white;
    -webkit-background-clip: text;
    background-clip: text;
}

.bouton {
    width: 250px;
    border-radius: 25px;
    background-image: linear-gradient(to right, rgb(0, 224, 224), rgb(131, 199, 255));
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.bouton:focus {
    border: none;
    outline: none;
}

.MyInput {
    width: 290px;
    padding: 10px;
    padding-left: 40px;
    border-radius: 25px;
    border: none;
    color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
}

.font {
    font-size: 14px;
}

.fonte {
    position: relative;
    color: rgb(0, 140, 255);
    display: block;
    left: -130px;
    top: 29px;
    font-size: 18px;
}

.MyInput:focus {
    border: none;
    outline: none;
}

.main-form {
    margin-top: -44px;
}

/*type file*/
input[type="file"] {
    display: none;
}

.label {
    color: white;
    width: 290px;
    background-color: chartreuse;
    border-radius: 25px;
    justify-content: center;
    /*apivoany ny text anle type file */
    align-items: center;
    font-family: "verdana", sans-serif;
    margin-top: 5px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}
.formee{
    margin-top:56px;
    width:630px;
    margin-left: 500px;
}
.TypeFile{
    border: 1px solid #0084ff;
    padding: 5px;
    margin-top: -19px;
    width: 289px;
    border-radius: 5px;
    color: #fff;
    background-color: #0084ff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.p{
    color: #0084ff;
}
.enregistrement{
    margin-left: 278px;
}
.textLabel{
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*le manao courbe manga any ambany*/