.vatana{
    
    display: grid;
    /* height: 40vh; */
    margin-left: 225px; 
    justify-content: center;
    align-items: center;
    color:gray
    
}
.tab{
    box-shadow:  0 5px 10px gray;
    border-collapse: collapse;
    text-align: left;
    overflow: hidden;
    margin-top: -1px;
    

}
#td{
    padding-left:19px;
}
.titre{
    text-transform: uppercase;
    font-size: 0.9em;
    font-family: 'verdana', Times, serif;
    font-weight: 900;
    text-align: center;
}
.tde{
    background-color: red;
}
.card-header{
    margin-top: -5px;
}
/*scroll table*/
.scroll{
    overflow: auto;
    height: 500px;
    width: 900px;
}
/*manao fixation anle Nom email sns atao fixed*/
.SousTitre{
    position:absolute;
    top: 0;/*matoa manisy anio d efa nasina position ilay izy*/ 
    left: 0;
}
.relative{
    position: relative;
}