.vatana{
    
    display: grid;
    /* height: 40vh; */
    margin-left: 225px; 
    justify-content: center;
    align-items: center;
    color:gray
    
}
.tab{
    box-shadow:  0 5px 10px gray;
    border-collapse: collapse;
    text-align: left;
    overflow: hidden;
    margin-top: -1px;
    

}
#td{
    padding-left:19px;
}
.titre{
    text-transform: uppercase;
    font-size: 0.9em;
    font-family: 'verdana', Times, serif;
    font-weight: 900;
    text-align: center;
}
.tde{
    background-color: red;
}
.card-header{
    margin-top: -5px;
}
/*scroll table*/
.scroll{
    overflow: auto;
    height: 500px;
    width: 900px;
}
::-webkit-scrollbar{
    width: 16px;
}
::-webkit-scrollbar-thumb{/* le lava lava am scroll*/
    border-radius: 5px;
    background-color: rgb(103, 201, 188);
}
::-webkit-scrollbar-track{
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgb(79, 188, 192);
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(70, 162, 179);
}
/*manao fixation anle Nom email sns atao fixed*/
.SousTitre{
    position:absolute;
    top: 0;/*matoa manisy anio d efa nasina position ilay izy*/ 
    left: 0;
}
.relative{
    position: relative;
}
.ImgEmployee{
    border-radius: 23px;
}
.card-header{
  background-color: rgb(79, 188, 192);
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.h6{
    font-size: 20px;
}
.fontAdd{
    margin-left: 620px;
    font-size: 26px;
}