.mainn{
    margin-top: 50px;
    background-color: #ebf6ff;
    padding: 2rem 1.5rem;
    margin-left: 300px;
    /* min-height: calc(100vh); */
    
}
.cards{
    display: flex;
    grid-template-columns: repeat(4 ,1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
}
.card-single{
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 2px 5px 10px 2px rgb(0 0 0 / 10%);
}
.card-single span:first-child{
    color: #f8e80c;

}
.card-single  span:last-child{
    font-size: 2rem;
}
.card-single small{
    color: grey;
}
.card-single:hover{
    background-color: #7aefff;
    color: #fff;
}
.contai{
    font-size: 18px;
}
.TabRole{
    margin-top: -15px;
}
#ListeRole{
    background-color: rgb(226, 75, 100);
    font-size: 19px;
    color:white;
}
.CardRole{
    margin-left: 670px;
}
#HoraireEmp{
    background-color: rgb(46, 135, 250);
    font-size: 19px;
    color:white;
    border-radius: 20px;
}