/* .nav a{ 
    display: block;
    color: white;
    text-decoration: none;
    padding: 60px 100px;
     margin-top: -56px;
     margin-left: 280px;
    font-size: 18px;
    font-weight: 600;

} */
.nav li:hover{
    border-left: 2px solid white;
}
.sidebar{
    z-index: 100;
}
.sidebar-brand{
    height: 90px;
    color: #fff;
    margin-top: -53px;
}
.nav ul{
    padding: 0;
}
li{
    list-style-type: none;
    color: #fff;
} 
.sidebar-brand span{
    display: inline-block;
    margin-left: 54px;
}
.sidebar-menu{
    margin-top: -26px;
}
.sidebar-menu a{
    padding-left:1rem;
    display: block;
    color: #fff;
    font-size: 1.1rem;
    text-decoration: none;
}
.sidebar-menu li{
    width: 100%;
    margin-bottom: 2rem;
    padding-left: 15%;
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 6px 15px;
    

}
.sidebar-menu a span:first-child{
    padding-left: -6px;
    font-size: 1.5rem;
}
.sidebar-menu a.active{
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color:#3cb1e7;
    border-radius: 30px 0px 0px 0px;
    width: 300px;
}
.search-wrapp{
    border: 1px solid #008ea1;
    border-radius: 20px;
    height: 48px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    margin-left: 600px;
    margin-top: -9px;
}
.search-wrapp input{/*le miataka amle input*/
    outline: none;
    border: none;
    padding: .3rem;
    height: 100%;
}
.search-wrapp span{
    display: inline-block;
    background-color: #0a74b1;
    color: #fff;
    font-size: 1.5rem;
    padding: 0.1rem 1rem;
    height: 100%;
}
.fa{
    margin-top: px;
}
.RolesEmp{
    margin-left: -3px;
    width: 257px;
    text-align: left;
}
.IconRole{
    margin-left: 100px;
    font-size: 19px;
}
.dropdownRole{
    width: 257px;
    height: 30px;
    background-color: rgb(58, 133, 231);
}
#menuRole{
  background-color: #2b7cc7;
  border-radius: 60px;
  text-align: center;
  margin-top: -17px;
}
.fonction-drop{
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    border-radius: 0;
    animation: dropdownFonction 0.3s ease-in-out;
}
@keyframes dropdownFonction{ /*refa cliquena le dropmenu de io n action mitranga izany hoe miataka kel avy any ambony
    le corps*/
from{top:133%;}
to{top:1%;}
}
