.sar{
    margin-left: 163px;
}
.b{
    margin-left: 35px;
}
.InputIcon{
    border-radius: 70px;
    margin-top: -48px;
   
}
.FontEmail{
    position: relative;
    display: block;
    left: 7px;
    top: 33px;
    font-size: 31px;
    color:rgb(148, 213, 238);
}
.button{
    width: 250px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 700;
    background-image: linear-gradient(to right, #0084ff, #00f2ff);
    color: white;
    border: none;
}
.MyInput{
    width: 320px;
    display: block;
    padding: 09px;
    padding-left: 63px;
    border-radius: 25px;
    background-image: linear-gradient(to right, #0084ff, #00f2ff);
    border: none;
    color: #fff;

}
.InputWithIcon input[type=text]{
    padding-left: 10px;
}
.InputWithIcon{
    position: relative;
}
.InputWithIcon i{
    position: absolute;
    left: 0;
    top:-06px;
    padding: 16px 29px;
    color: white;
    transition: .3s;
    font-size: 23px;
}
.cont{
    margin-top: 56px;
}
/*fontawesome anle profil*/
.modifUser{
    position: relative;
}
.modifUser i{
    position: absolute;
    left: 0;
    top:-06px;
    padding: 16px 29px;
    color:green;
    transition: .3s;
    font-size: 23px;

}
.modifUser input[type=text]{
    padding-left: 10px;
}

.IconFont{
    /* width: 320px; */
    display: block;
    padding: 09px;
    padding-left: 63px;
    border: none;
    border-radius: 45px;
    /* color: #fff; */

}
.IconFon{
    display: block;
    padding: 09px;
    padding-left: 63px;
    border: none;
   
}
/*register*/
.regist{
    font-family: broadway;
    font-size: 17px;
}
.register{
    margin-top: 56px;
    margin-left: 223px;
}
/*password*/
.Password{
    margin-top: 60px;
    font-size: 18px;
    margin-left: 220px;
}
.recherche{
    text-decoration: none;
    color: white;
}
.recherche:hover{
  color: antiquewhite;
}
.rech{
    margin-left: 180px;
}
.rech{
    margin-left: 580px;
    margin-top: -40px;
}
.recherche{
    margin-left: 310px;
    width: 1000px;
}
.hh2{
    color: black;
}
.rechercheee{
    color: black;
}
.pagina{
    margin-left: 370px;
}
.homepagination{
    margin-left: 380px;
}
.sarii{
    margin-top: -13px;
    width: 108px;
    height: 79px;
    margin-left: -38px;
}
.matric{
    font-family: Verdana;
}
.modalPresence{
    background-color:rgb(54, 121, 247);
    color: white;
}
.modalEdit{
    font-size: 18px;
}

.CardLogin{
    margin-left: 65px;
}
.BodyLogin{
    margin-left: -87px;
}
.loginh4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(92, 125, 141);
}
.modalEditUser{
    background-color:rgb(75, 155, 0) ;
    color: white;
}
.leftbar:hover{
    border-left: 3px solid blue;
}
.ContenuAdmin{
    margin-top: 90px;
    width: 800px;
    margin-left: 180px;
}
.suppUser{
    text-decoration: none;
    color: white;
}
.suppUser:hover{
    color: white;
}
.Stat{
    /* margin-left: 70px; */
    margin-top: 0px;
    width: 150px;
}
.rowwww{
 margin-top: 100px;
 margin-left: 370px;
 width: 960px;
}
.rolecard{
    background-color: #03e64f;
    color: white;
    border: none;
    box-shadow: 1px 1px 1px black;
    height: 40px;
}
.formRegister{
    box-shadow: 6px  5px 6px rgb(27, 13, 13);
    width: 900px;
    margin-left: 340px;
}
.Roleslist{
    margin-left: -6px;
    margin-top: 10px;
}
.headerRole{
    background-color: rgb(255, 255, 255);

}
.widthBtnRole{
    width: 90px;
}
#InputPresence{
    margin-left: -541px;
    
}
.MainPresence{
    background-color: rgb(255, 255, 255);
}

.CardSing{
    margin-left: 600px;
}
.h1Role{
    background-color: rgb(236, 215, 20);
    color: white;
    font-size: 16px;
}
.supprimRoleHeader{
    background-color: rgb(255, 160, 160);
    color: white;
}
.listePresence{
    margin-left: -32px;
}
#CardPresenceHoraire{
    margin-left: 56px;
    width: 489px;
}
#CardPresenceHoraire:hover{
    color: white;
}
.infoHoraire{
   margin-top: 40px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
   border-radius: 19px;
}
.Photo{
    background: #00bb3e;
    color: white;
    border-radius: 14px;
    width: 59px;
    font-size: 17px;
    text-align: center;
}
.infoEmployee{
    margin-left: 360px;
    margin-top: -19px;
}
.presencePhoto{
    margin-top: -29px;
}
.DetailsEmploye{
    background-color: #00ccff;
    font-size: 16px;
    
    color: white;
}
.ModifEmployes{
    background-color:rgb(62, 161, 62);
    color: white;
}