/* .navbar{
    margin-top: 6px;
}
nav{
    margin-top: 10px;
} */
.sar{
    border: -1px solid white;
    border-radius: 47px;
    padding: 09px 30px;
    margin-left: 197px;
    margin-top:11px ;
    box-shadow: 0px 23px 0px  rgb(0, 150, 201);
 }
 .c{
    margin-left: -74px;
 }
 .b{
    margin-left: 96px;
 }
 .a{
    background-color: rgb(255, 255, 255);
 }

 /* style pour side bar */
 *{
   padding: 0;
   margin: 0;
   list-style-type: none;
   text-decoration: none;
   box-sizing: border-box;
 }
 .sidebar{
   position: fixed;
   left: 0;
   top: 0;
   width: 300px;
   height: 100vh;
   z-index: 100;
   transition: width 300ms;
   /* background: #008ea1; */
 }
 .sidebar-brand{
   height: 90px;
   padding: 1rem 0rem 1rem 2rem;
   color: #fff;
   margin-top: -55px;
 }
 .sidebar-brand span{
   display: inline-block;
   margin-right: 1rem;/*mikisaka tanteraka any am gauche*/
 }
 .sidebar-menu{
   margin-top: -10rem;
   margin-left: 74px;
 }
 .sidebar-menu a{
   padding-left: 1rem;
   display: block;
   color: #fff;
   font-size: 1.1rem;
   text-decoration: none;
 }
 .sidebar-menu li{
   width: 100%;
   margin-bottom: 2rem;
   margin-left: 10%;
 }
 .sidebar-menu a span:first-child{
   padding-left: 1rem;
   font-size: 1.5rem;
 }
 .sidebar-menu a.active{
   background: hwb(0 100% 0%);
   padding-top: 1rem;
   padding-bottom: 1rem;
   color: #008ea1;
   border-radius: 30px 0px 0px 0px;
 }
 .con{
   margin-left: 126px;
 }
 .reg{
   margin-left: 124px;
 }
 .Icon{
   color: #fff;
 }
 .nav{/*le sidebar io*/
   height: 100%;
   width: 0px;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: #008ea1;
   opacity: .9;
   padding-top: 66px;
   transition: 1s;/*le temps de demos*/
   overflow-x: hidden;/*le tsipika 3 fostiny no aseho */
   
 }
 .sidebar-menu li:hover{
  opacity: .5;
  border-left: 5px solid #fff;
 }
 .search-wrapp{
  border: 1px solid #008ea1;
  border-radius: 20px;
  height: 38px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  margin-left: 380px;
  margin-top: -7px;
  position: relative;
 }
 .search-wrapp input{
  height: 100%;
  padding: .5rem;
  border: none;
  outline: none;
 }
 .search-wrapp span{
  display: inline-block;
  padding: 0rem 1rem;
  font-size: 1.5rem;
  color:#008ea1

 }
 .search-wrapp.iconsearch span{
  background-color: #008ea1;
  color: #fff;
  padding: 6px 14px;
  border-radius: 4px 5px 8px 4px;

 }
 .search-wrapp.iconsearch span:hover{
  background-color: rgb(16, 124, 124);
 }
 /* le close icon kely iny*/
.nav .close{
  position: absolute;/*position para rapport am element parent akaiky indrindra izay ts manana position static*/
  top: 0;
  right: 28px;

}
/*Font awesome anaty form*/
.InputIcon i{
  position: absolute;
  left: 0;
  top:1px;
  padding: 8px 6px;
  color: #008ea1;
  transition: 3s;
  margin-left: 10px;
}
.InputIcon{
  position: relative;
}
/*le mikisaka kel eo am input ts mipetaka be am sary le input fa miakatra kely*/
.InputIcon input{
  padding-left: 80px;
  font-family: verdana;
}
/*le color nle icon kel momban le icon kely*/
.InputIcon.IconBg i{
  background-color: #008ea1;
  color: #fff;
  padding: 10px 19px;
  border-radius: 4px 0px 0px 4px;
}
.modifUser i{
  position: absolute;
  left: 0;
  top:1px;
  padding: 8px 6px;
  color: #008ea1;
  transition: 3s;
  margin-left: 10px;

}
.modifUser{
  position: relative;
}
.modifUser input{
  padding-left: 80px;
  font-family: verdana;
}
.modifUser.Icon i{
  background-color: #32801f;
  color: #fff;
  padding: 10px 19px;
  border-radius: 4px 0px 0px 4px;

}
.navigation{
  height: 78px;
}
#img{
  margin-top: -610px;
  margin-left: 3px;
  height: 500px;
  width: 288px;
}
/*le margin top nle page home sy le page manova password satria le avy nasina position fixed le navbar*/
/*reforme kely apres anle nasina position fixed le navbar*/
.Password{
  margin-top: 70px;
}
.home{
  margin-top: 70px;
  margin-left: 10px;
}
.NavDroite{
  margin-left: 60px;
  
}
.register{
  margin-top:70px ;
}
.Nave{
  margin-left: 12px;
}